.about{
    margin-top: 100px;
    text-align: center;
}

.head{
    background-color: lightblue;
    width: 700px;
    margin: auto;
    line-height: 25px;
    padding: 20px;
}

.head > h2 {
    color: green;
}

.flex{
    display: flex;
    justify-content: center;
}

.leftDiv{
    width: 500px;
    padding: 30px;
}

.leftDiv > p {
    line-height: 25px;
}

.rightDiv{
    padding: 40px;
}